$width: 200px;

.menu {
    width: $width;
    height: 100%;
    transition: all 0.2s ease-out;
    background: white;
    &.shown {
        left:0;
    }
}


@media (max-width: 992px) {
    .menu {
        position:fixed;
        top:0;
        left: - $width;
    }
 }