@import '../../../bootstrap.scss';

span {
    display: flex;
}
.fill-primary path {
    fill: $primary;
}
.fill-secondary path {
    fill: $secondary;
}
.fill-success path {
    fill: $success;
}
.fill-danger path {
    fill: $danger;
}
.fill-warning path {
    fill: $warning;
}
.fill-dark path {
    fill: $dark;
}
.fill-info path {
    fill: $info;
}

.small {
    svg {
        width: 20px;
        height: 20px;
    }
}

.big {
    svg {
        width: 40px;
        height: 40px;
    }
}