@import '../../../bootstrap.scss';

span {
    display: flex;
}
.fill-primary  {
    path, polygon {
        fill: $primary;
    }
}
.fill-secondary  {
    path, polygon {
        fill: $secondar
    }y;
}
.fill-success  {
    path, polygon {
        fill: $success;
    }
}
.fill-danger  {
    path, polygon {
        fill: $danger;
    }
}
.fill-warning  {
    path, polygon {
        fill: $warning;
    }
}
.fill-dark  {
    path, polygon {
        fill: $dark;
    }
}
.fill-info  {
    path, polygon {
        fill: $info;
    }
}

.small {
    svg {
        width: 20px;
        height: 20px;
    }
}

.big {
    svg {
        width: 40px;
        height: 40px;
    }
}