<nav>
    <div class="container-fluid shadow">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between p-2">
                    <div class="logo">
                        Logo
                    </div>
                    <div class="buttons d-flex align-items-start">
                        
                        <button type="button" class="btn btn-round btn-secondary d-none d-lg-block font-weight-bold mr-2" [routerLink]="'/login'">Iniciar sesión</button>
                        <button type="button" class="btn btn-round btn-danger d-none d-lg-block font-weight-bold" [routerLink]="'/registro'">Registrarse</button>

                        <button type="button" class="btn btn-white p-0 ml-1" (click)="menu()"><app-icon icon="menu" size="big"></app-icon></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>