<nav>
    <div class="container-fluid shadow">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between p-2">
                    <div class="logo">
                        Logo
                    </div>
                    <div class="buttons d-flex">
                        
                        <button type="button" class="btn btn-white d-block d-lg-none" (click)="menu()"><app-icon icon="menu"></app-icon></button>
                        
                        <button type="button" class="btn btn-round btn-primary d-none d-lg-block mr-1">Iniciar sesión</button>
                        <button type="button" class="btn btn-round btn-danger d-none d-lg-block">Registrarse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</nav>