<nav>
    <div class="container-fluid shadow">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between p-2">
                    <div class="logo">
                        Logo
                    </div>
                    <div class="buttons d-flex">
                        <button type="button" class="btn btn-round btn-primary mr-1">Iniciar sesión</button>
                        <button type="button" class="btn btn-round btn-danger">Registrarse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</nav>