.imageProfile {
    width: 80px;
    margin: -125px auto 10px auto;
    background: white;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3) !important;
    img {
        width: 100%;
    }
}