<div class="col d-flex justify-content-center mb-4 mt-5">
    <div class="col-12 col-lg-9 shadow px-2 px-md-5 py-5 bg-white relative d-felx flex-wrap justify-content-around">
        <h3 class="mb-5">Configuración</h3>
        <div class="sp col col-12 d-flex flex-wrap justify-content-between">
            <div class="col-12 col-sm-6 pl-sm-1 d-flex align-items-center">
                <ui-switch></ui-switch><label class="ml-2" for="noseque">No se qué</label>
            </div>
            <div class="col-12 col-sm-6 pr-sm-1 d-flex align-items-center">
                <ui-switch></ui-switch><label class="ml-2" for="nosecuanto">No se cuánto</label>
            </div>
        </div>
        <div class="sp col col-12 d-flex flex-wrap justify-content-between">
            <div class="col-12 col-sm-6 pl-sm-1 d-flex align-items-center">
                <ui-switch></ui-switch><label class="ml-2" for="nosequemas">No se que más</label>
            </div>
            <div class="col-12 col-sm-6 pr-sm-1 d-flex align-items-center">
                <ui-switch></ui-switch><label class="ml-2" for="nosequemas">No se que más</label>
            </div>
        </div>
        <div class="col-12 text-right mt-5">
            <div class="btn btn-primary rounded-0">Guardar</div>
        </div>
    </div>
</div>