@import 'bootstrap.scss';
@import '../node_modules/bootstrap/scss/bootstrap';

@import '~ngx-toastr/toastr';
@import './assets/fonts';

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    outline: none !important;
    box-shadow: none !important;
}

body {
    font-family: Rubik;
}



.pointer {
    cursor: pointer;
}




// adding stuff to bootstrap
.btn-round-lg{
    border-radius: 22.5px;
}
.btn-round{
    border-radius: 17px;
}
.btn-round-sm{
    border-radius: 15px;
}